<%- include('./partials/nav') %>

    <h1>Edit a Fruit</h1>

    <form action="" method="POST">
        Name:
        <input type="text" name="name" />

        <br />
        <div class="checkbox-div">
            Ready to Eat?
            <input type="checkbox" name="isReadyToEat"/>
        </div>

        <button type="submit">Update Fruit</button>
    </form>
</body>
</html>