<%- include('./partials/nav') %>

    <h1>Create a New Fruit</h1>

    <!-- dont use bootstrap forms yet, just buttons -->

    <form action="/fruits" method="POST">
        Name:
        <input type="text" name="name" />
        <% if (typeof(msg) !== 'undefined') { %>
        <small><%= msg %></small>
        <% } %>
        <br />
        <div class="checkbox-div">
            Ready to Eat?
            <input type="checkbox" name="isReadyToEat"/>
        </div>

        <button class="btn btn-primary" type="submit">Add Fruit</button>
    </form>
    
</body>
</html>