<%- include('./partials/nav') %>

    <h1>Create a New Fruit</h1>

    <form action="/fruits" method="POST">
        Name:
        <input type="text" name="name" />

        <br />
        <div class="checkbox-div">
            Ready to Eat?
            <input type="checkbox" name="isReadyToEat"/>
        </div>

        <button type="submit">Add Fruit</button>
    </form>
</body>
</html>