 @import url("https://fonts.googleapis.com/css2?family=DM+Sans:opsz@9..40&display=swap");

body {
    background: #fff8ed;
    font-family: 'DM Sans';
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    max-width: 100vw;
}

form {
    font-family: 'DM Sans';
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #ffbd59;
    padding: 20px 30px;
    border-radius: 20px;
    box-shadow: 5px 6px #f47b5b;
    margin: 10px 10px;
}

.checkbox-div {
    flex-direction: row;
}

button {
    margin-top: 10px;
}